html {
    background-color: #f1f1f1;
}

.main-div {
    width: 80%;
    height: 120%;
    max-height: 1000%;
    margin: 0 10%;
    padding-top: 2%;
}

.background {
    background-color: #f1f1f1;
}

.inline {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}


.content-box {
    margin: 2% 0;
    padding: 2%;
    border-radius: 0.5vh;
    background-color: snow;
    box-shadow: 0 0.1em 0.4em #b6b6b6;
}

.group-box {
}

.group-header {
    margin: 1% 0 0;
    padding: 1%;
    background-color: #dfdada;
    box-shadow: 0 0.3em 0.7em #cbcbcb;
}
.login-size {
    width: 35%;
    margin: 1% auto 2%;
}

.register-size {
    width: 50%;
    margin: 1% auto 2%;
}

.btn-bar {
    margin: 1%;
    height: 5%;
}

.btn-right {
    width: 20%;
    height: 100%;
    font-family: "Segoe UI Semilight", serif;
    margin-left: 80%;
}

.table-cell-div {
    width: 50%;
    display: table-cell;
}

.table-div {
    width: 80%;
    display: table;
    margin: 5% 10%;
}

.table-cell-btn {
    width: 60%;
    margin: 0 20%;
    font-size: 0.1vh;
}

.welcome-h1 {
    text-align: center;
    width: 80%;
    margin: 5% 10%;
}

.error-message {
    color: red;;
}

.container-div {
    display: none;
}