.main-div {
    width: 80%;
    height: 120%;
    max-height: 1000%;
    margin: 0 10%;
    padding-top: 2%;
}

.background {
    background-color: #f1f1f1;
}

.inline {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}


.content-box {
    margin: 3% 0;
    padding: 2%;
    border-radius: 1%;
    background-color: snow;
}

.login-size {
    width: 35%;
    margin: 1% auto 2%;
}

.register-size {
    width: 50%;
    margin: 1% auto 2%;
}

.btn-bar {
    margin: 2%;
    width: 96%;
    height: 200%;
    padding: 1%;
}

.btn-right {
    width: 20%;
    height: 20%;
    font-family: "Segoe UI Semilight", serif;
    margin-left: 80%;
}