.barrel-block {
    margin-right: 0.5%;
    margin-left: 0.5%;
    width: 9em;
    height: 5em;
    display: inline-block;
    text-align: center;
}


.b-content {
    float: left;
    padding-right: 0.3em;
    border-right: 1px solid black;
}
.image {
    margin-top: 0.7em;
    width: 2.7em;
    height: 2.3em;
    display: block;
}

.barrels-vol {
    width: 2.7em;
    height: 1.3%;
    font-family: "Segoe UI Light", serif;
    font-size: 1.58em;

}


.barrel-qt {
    max-width: 4em;
    max-height: 5em;
    font-family: "Segoe UI Semibold", serif;
    font-size: 1.58em;

}

.prod-name {
    width: 100%;
    height: 100%;
    display: block;
    font-family: "Segoe UI Semibold", serif;
    margin: 1% 0;
}

.details-1 {
    font-family: "Segoe UI Semibold", serif;
}

.header-1 {
    font-family: "Segoe UI Semibold", serif;
}

.prod-order {
    width: 100%;
    margin: 0 0 0 auto;
}

.info {
    font-family: "Segoe UI Light", serif;
    color: #464646;
    font-size: 1.1em;
}

.input-size {
    max-width: 5em;
    max-height: 4em;
}

.order-info {
    padding: 0.5%;
    margin: 0.5%;
    width: 48%;
    border-radius: 2%;
}

.table-order {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.table-td {
    padding: 1%;
    width: 50%;
}

.table-td-vol {
    padding: 1%;
    float: left;
}

.table-td-vol-name {
    padding: 1%;
    float: left;
}

.table-td-vol-input {
    float: left;
    width: 40%;
}

.show-btn {
    width: 100%;
    padding: 1%;
    background-color: #e2dddd;
    box-shadow: 0 0.3em 0.7em #cbcbcb;
    border: 0;
}

