/pages/product-manager/.DS_Store
/pages/product-manager/node_modules/
/pages/product-manager/dist/
/pages/product-manager/npm-debug.log*
/pages/product-manager/yarn-debug.log*
/pages/product-manager/yarn-error.log*
/pages/product-manager/.idea/workspace.xml
/pages/product-manager/.idea/usage.statistics.xml
/pages/product-manager/.idea/tasks.xml
/files/Product manager pages/.idea/workspace.xml
/files/Product manager pages/.idea/usage.statistics.xml
/files/Product manager pages/.idea/tasks.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
