

html > body {
    padding: 0;
    margin: 0;
    background: #f8f9fa;
    font-family: "Roboto", serif;
}


.p-dropdown-box {
    color: snow;
}

.p-dropdown-box:hover {
    background-color: #283593;
    cursor: pointer;
    border-radius: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bg-white-1 {
    background: #2b2b2b;
}




.cart-item-2 {
    font-size: 1em;

}



.cart-item-name-2 {
    font-size: 1em;
    font-weight: 500;
}








@media all and (min-width: 0px) {


    .order-info-a {
        background: #283593;
        color: snow;
        text-align: center;
    }

    .order-info-a:hover {
        text-decoration: none;
        color: snow;
    }
}

@media all and (min-width: 576px) {
    .order-info-a {
        background: transparent;
        color: black;
        text-align: center;
    }

    .order-info-a:hover {
        text-decoration: #283593;
        color: #283593;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

    #menuContent {
        background-color: transparent;
    }
}

@media all and (min-width: 1200px) {
}


.categories-container-2 {
    background: #57708b;
    color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 300ms;
}


.subcategory-box {
    /*border-bottom: 1px solid #a8a8a8;*/
}

.subcategory-box:hover {
    background: #293545;
    box-shadow: 0 0 19px 0 #000000;
}






.products-container {

}



.filter-category {
    font-size: 1.5em;
    border-bottom: 1px solid #bbbbbb;
}

.checkbox-size {
    font-size: 1.3em;
}

.filter-button {
    background: #bbbbbb;
    border: 0;
}

.filter-button:focus {
    background: #bbbbbb;
    border: 0;
}

.filters-box {
    border-bottom: 1px solid #bbbbbb;
}

.product-header {
    font-size: 2em;
}

.product-code {
    font-weight: 300;
    font-size: 1em;
}

.mes-unit-box {
    font-size: 1em;
}


.product-description {
    font-weight: 400;
    font-size: 1em;
}

.sum-box {
    background: rgba(0, 128, 0, 0.84);
    color: white;
    display: none;
    word-wrap: break-word;
    border-radius: 6px;
}

.label-1 {
    font-size: 1em;
}


.news-container {

}





.news-item {
    border-bottom: 1px solid #bbbbbb;
}

.th-box {
    background: #dfdfdf;
    border: 1px solid #888888;
}

.th-item {
    font-size: 1em;
}

.th-item-b {
    font-weight: 500;
    font-size: 1em;
}


.border-box-1 {
    border: 1px solid #d9d9d9;
}




.p-dropdown {
    left: auto;
    right: 0;
    background: white;
    color: black;
    z-index: 1;
    position: absolute;
    display: none;
    box-shadow: rgb(219, 223, 226) 0 1px 2px 0, rgb(219, 223, 226) 0 1px 3px 1px;
}


.p-drop-btn {

}


.p-dropdown a {
    text-decoration: none;
    color: black;
    font-size: 0.6em;
}

.p-dropdown a:hover {
    color: white;
    text-decoration: none;
    background: #5435B5;
}

.p-dropdown-divider {
    border-bottom: 1px solid #e3e3e3;

}

.box-white-2 {
    background: white;
    border-radius: 4px;
}

.project-header-box {
    height: 200px;
    overflow: hidden;
    background-color:#000;
}

.project-header-bg {
    width: 100%; height: 1050px;opacity: 0.5
}

.project-header {
    position: absolute;
    font-size: 2em;
    font-weight: 400;
    color: snow;
}

.img-autosize {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.text-1 {
    font-weight: 500;
    font-size: 1em;
}

.label-2 {
    color: #7d7d7d;
    font-size: 1em;
}

.address-label-3 {
    font-weight: 500;
}

.address-container {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    font-size: 0.8em;
}

.address-card {
    border: 1px solid grey;
}

.add-address-btn:hover {
    background: #eeeeee;
}

.selected-addres {
    border: 0 transparent;
    background: rgba(112, 255, 137, 0.34);
}

.input-1 {
    outline: none;
    border-radius: 1em;
    border: 1px solid #d9d9d9;
}

.input-1:focus {
    box-shadow: 0 0 20px 1px #d9d9d9;
}

.input-2 {
    width: 100%;
    outline: none;
    border-radius: 1em;
    border: 1px solid #d9d9d9;
    transition: 150ms;
}

.input-2:focus {
    transition: 150ms;
    box-shadow: 0 0 5px 1px #283593;
}


.item {
    color: black;
    font-size: 1.2em;
    border: 1px solid transparent;
}

.item:hover {
    color: black;
    text-decoration: none;
    border-color: #cecece;
}

.selected-item {
    background: rgb(84, 53, 181);;
    color: snow;
}

.selected-item:hover {
    color: snow;
}

.item-content {
    display: none;
}

.item-order {

}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b8b8b8;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(84, 53, 181);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 53, 181);
}

#myActiveOrders, #myOrdersHistory, #receivedActiveOrders, #receivedOrdersHistory {
    display: none;
}

.warning-box-1 {
    background: #ff7b36;
}

.accept-btn-1, .cancel-btn-1 {
    color: snow;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.accept-btn-1 {
    background: #283593;
}

.cancel-btn-1 {
    background: rgba(40, 53, 147, 0.42);
}

.not-active-btn {
    background: rgba(186, 186, 186, 0.28);
    text-align: center;
    border-radius: 3px;
    cursor: not-allowed;
    font-weight: 500;
}






/* product card */

.product-name {
    text-wrap: none;
    font-weight: 500;
    font-size: 1em;
}

.product-card {
    border: 1px solid transparent;
    transition: 150ms;
    display: flex;
}

.product-card:hover {
    border: 1px solid #bbbbbb;
}

.product-picture {
    width: 128px;
    height: 128px;
}

.price-box {
    background: #ededed;
}

.price {
    font-weight: 400;
    font-size: 1em;
}

.price-currency {
    font-size: 0.7em;
}

.to-cart-block {
    color: white;
    background: green;
    border-radius: 0 6px 6px 0;
}

.to-cart-block:hover {
    cursor: pointer;
}


/* headers */


.text-1 {
    font-size: 3em;
}

.text-2 {
    font-size: 2.5em;
}

.text-5 {
    font-size: 2em;
}

.text-4 {
    font-size: 1.5em;
}
.text-5 {
    font-size: 1em;
}
.text-6 {
    font-size: 0.5em;
}


/* OTHER */

.box-white {
    background: white;
    border: 1px solid #DBDFE2;
    border-radius: 4px;
    box-shadow: rgb(219, 223, 226) 0 1px 2px 0, rgb(219, 223, 226) 0 1px 3px 1px;
}

.box-white-2 {
    background: white;
}


.popup-bg {
    display: none;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*-----------------------------*/