

html > body {
    padding: 0;
    margin: 0;
    background: #e7e8e9;
    font-family: "Roboto", serif;
}


.p-dropdown-box {
    color: snow;
}

.p-dropdown-box:hover {
    background-color: #283593;
    cursor: pointer;
    border-radius: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bg-white-1 {
    background: #2b2b2b;
}




.cart-item-2 {
    font-size: 1em;

}



.cart-item-name-2 {
    font-size: 1em;
    font-weight: 500;
}



.to-cart-block {
    color: white;
    background: green;
}

.price-box {
    background: #ededed;
    border-radius: 6px 6px 0 0;
}


@media all and (min-width: 0px) {
    .to-cart-block {
        border-radius: 0 0 6px 6px;
    }

    .price-box {
        border-radius: 6px 6px 0 0;
    }


    .order-info-a {
        background: #283593;
        color: snow;
        text-align: center;
    }

    .order-info-a:hover {
        text-decoration: none;
        color: snow;
    }

    /* cart dropdown size */
    .cart-dropdown {
        padding: 0;
        margin: 0;
        width: 490%;
    }


    .user-actions-dropdown {
        width: 300%;
    }
}

@media all and (min-width: 376px) {
    /* cart dropdown size */
    .cart-dropdown {
        padding: 0;
        margin: 0;
        width: 600%;
    }

}

@media all and (min-width: 576px) {

    .user-actions-dropdown {
        width: 300%;
    }

    /* cart dropdown size */
    .cart-dropdown {
        width: 360px;
    }

    .to-cart-block {
        border-radius: 0 6px 6px 0;
    }

    .price-box {
        border-radius: 6px 0 0 6px;
    }

    .order-info-a {
        background: transparent;
        color: black;
        text-align: center;
    }

    .order-info-a:hover {
        text-decoration: #283593;
        color: #283593;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

    #menuContent {
        background-color: transparent;
    }
}

@media all and (min-width: 1200px) {
}


.to-cart-block:hover {
    cursor: pointer;
}




.subcategory-box {
    /*border-bottom: 1px solid #a8a8a8;*/
}

.subcategory-box:hover {
    background: #293545;
    box-shadow: 0 0 19px 0 #000000;
}


.link-1 {
    color: black;
}

.link-1:hover {
    color: black;
}







.filter-category {
    font-size: 1.5em;
    border-bottom: 1px solid #bbbbbb;
}


.filters-box {
    border-right: 1px solid #eaeaea;
}

.product-header {
    font-size: 2em;
}

.product-code {
    font-weight: 300;
    font-size: 1em;
}

.mes-unit-box {
    font-size: 1em;
}


.product-description {
    font-weight: 400;
    font-size: 1em;
}

.sum-box {
    background: rgba(0, 128, 0, 0.84);
    color: white;
    display: none;
    word-wrap: break-word;
    border-radius: 6px;
}

.label-1 {
    font-size: 1em;
}


.news-container {

}





.news-item {
    border-bottom: 1px solid #bbbbbb;
}

.th-box {
    background: #dfdfdf;
    border: 1px solid #888888;
}

.th-item {
    font-size: 1em;
}

.th-item-b {
    font-weight: 500;
    font-size: 1em;
}


.border-box-1 {
    border: 1px solid #d9d9d9;
}




.p-dropdown {
    left: auto;
    right: 0;
    background: white;
    color: black;
    z-index: 1;
    position: absolute;
    display: none;
    box-shadow: rgb(219, 223, 226) 0 1px 2px 0, rgb(219, 223, 226) 0 1px 3px 1px;
}


.p-drop-btn {

}


.p-dropdown a {
    text-decoration: none;
    color: black;
    font-size: 0.6em;
}

.p-dropdown a:hover {
    color: white;
    text-decoration: none;
    background: #5435B5;
}

.p-dropdown-divider {
    border-bottom: 1px solid #e3e3e3;

}

.box-white-2 {
    background: white;
    border-radius: 4px;
}

.project-header-box {
    height: 200px;
    overflow: hidden;
    background-color:#000;
}

.project-header-bg {
    width: 100%; height: 1050px;opacity: 0.5
}

.project-header {
    position: absolute;
    font-size: 2em;
    font-weight: 400;
    color: snow;
}

.img-autosize {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.text-1 {
    font-weight: 500;
    font-size: 1em;
}

.label-2 {
    color: #7d7d7d;
    font-size: 1em;
}

.address-label-3 {
    font-weight: 500;
}

.address-container {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    font-size: 0.8em;
}

.address-card {
    border: 1px solid grey;
}

.add-address-btn:hover {
    background: #eeeeee;
}

.selected-address {
    border: 0 transparent;
    background: rgba(112, 255, 137, 0.34);
}

.input-1 {
    outline: none;
    border-radius: 1em;
    border: 1px solid #d9d9d9;
}

.input-1:focus {
    box-shadow: 0 0 20px 1px #d9d9d9;
}

.input-2 {
    width: 100%;
    outline: none;
    border-radius: 1em;
    border: 1px solid #d9d9d9;
    transition: 150ms;
}

.input-2:focus {
    transition: 150ms;
    box-shadow: 0 0 5px 1px #283593;
}


.item {
    color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.item:hover {
    text-decoration: none;
    color: black;
}

.selected-item {
    background: rgb(84, 53, 181);;
    color: snow;
}

.selected-item:hover {
    color: snow;
}

.item-order {

}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b8b8b8;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(84, 53, 181);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 53, 181);
}

#myActiveOrders, #myOrdersHistory, #receivedActiveOrders, #receivedOrdersHistory {
    display: none;
}

.warning-box-1 {
    background: #ff7b36;
}

.accept-btn-1, .cancel-btn-1 {
    color: snow;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.accept-btn-1 {
    background: #283593;
}

.cancel-btn-1 {
    background: rgba(40, 53, 147, 0.42);
}

.not-active-btn {
    background: rgba(186, 186, 186, 0.28);
    text-align: center;
    border-radius: 3px;
    cursor: not-allowed;
    font-weight: 500;
}






/* product card */

.product-name {
    text-wrap: none;
    font-weight: 500;
    font-size: 1em;
}

.product-card {
    border: 1px solid transparent;
    transition: 150ms;
    display: flex;
}

.product-card:hover {
    border: 1px solid #bbbbbb;
}

.product-picture {
    width: 128px;
    height: 128px;
}



.price {
    font-weight: 400;
    font-size: 1em;
}

.price-currency {
    font-size: 0.7em;
}




/* headers */


.text-1 {
    font-size: 3em;
}

.text-2 {
    font-size: 2.5em;
}

.text-3 {
    font-size: 2em;
}

.text-4 {
    font-size: 1.5em;
}
.text-5 {
    font-size: 1em;
}
.text-6 {
    font-size: 0.5em;
}


/* OTHER */

.box-white {
    background: white;
    border: 1px solid #DBDFE2;
    border-radius: 4px;
    box-shadow: rgb(219, 223, 226) 0 1px 2px 0, rgb(219, 223, 226) 0 1px 3px 1px;
}

.box-white-2 {
    background: white;
}


.popup-bg {
    display: none;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*-----------------------------*/


.categories-box {
    z-index: 1;
    background: white;
}

.categories-box-header {
    background: #4a3194;
    color: white;
}

.categories-content {
    color: black;
}

.product-action-button {
    border: 1px solid #c0c0c0;
    border-radius: 7px;
}

.product-action-button:hover {
    cursor: pointer;
    border-radius: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
    background: rgba(74, 49, 148, 0.37);
}



/*font weigh 300, 400, 500, 700, 900*/

/* navbar */

.nav-container-bg {
    background: rgb(84, 53, 181);
}

.nav-item {
    font-size: 0.8em;
    overflow: hidden;
}

.nav-bg {
    background: rgb(84, 53, 181);
    color: snow;
    font-family: "Roboto", serif;
    font-size: 1.3em;
}


.nav-link-1, .nav-link-1:hover {
    text-decoration: none;
    color: #b7b3b3;
}

.active, .active:hover {
    font-weight: 500;
    color: snow;
}


.search-input {
    font-size: 0.8em;
    border-radius: 0.4em;
    border: 1px transparent;
    background: rgb(71, 46, 150);
    transition: 150ms;
}

.search-input:focus {
    color: white;
    outline: none;
    border: 1px solid snow;
    transition: 150ms;
}

.search-segment {

}



.close-btn:hover {
    cursor: pointer;
}

.user-box-name {
    font-size: 4mm
}

.user-box-email {
    font-size: 3mm;
    white-space: nowrap;
    overflow: hidden;
}


/*
    cart styles
*/


.cart-segment-1 {
    max-height: 350px;
    overflow-y: auto;
}

.cart-item {
    border-bottom: 1px solid #bbbbbb;
}

.cart-item-text {
    font-size: 0.6em;
    font-weight: 500;
}

.cart-item-price {
    font-weight: 300;
    font-size: 0.7em;
}

.to-cart-btn {
    color: black;
    border-radius: 0.3em;
    background: transparent;
    border: 1px solid #d6d6d6;
}

.to-cart-btn:hover {
    color: white;
    border: 0;
    background: #472E96;
    cursor: pointer;
}


.submit-btm {
    background: #472E96;
    color: white;
    border-radius: 0.3em;
    border: 1px solid #d6d6d6;
}

.submit-btm:hover {
    color: white;
    cursor: pointer;
}

.cart-total-price {
    font-weight: 300;
    font-size: 0.8em;
}

.cart-m-unit {
    font-weight: 300;
    font-size: 0.7em;
}




/* categories menu */



.category-item-box {
    background: #2f3340;
}

.c-menu-item-box-active {
    background: rgb(81, 50, 162);
}


.c-subcategories-container-box {
    background: #2f3340;
    border-radius: 0 4px 4px 0;
}

.item-label {
    background: #272c39;
    border-bottom: 1px solid #3d4353;
}

.item-label:hover {
    background: #5132A2;
    -moz-user-select: none;
    -webkit-user-select: none;
}



.category {
    font-weight: 500;
    font-size: 0.9em;
}

.category:hover {
    color: white;
    text-decoration: none;
}

.subcategories {
    color: black;
}

.subcategories-container {
    box-shadow: 0 0 10px 0 #000000;
}




.categories-menu-btn {
    color: snow;
}

.categories-menu-btn:hover {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.notifications-count-icon {
    text-align: center;
    margin: 0 auto;
    width: 25px;
    font-size: 0.5em;
    background: #c50000;
    border-radius: 50px;
}




.item-content {
    display: none;
}

.footer {
    background: #393e4b;
}

.project-label {
    color: #b6b6b6;
}

.categories-list {
    color: black;
}

.categories-list-item {
    border-bottom: 1px solid #d6d6d6;
}

.filters-button {
    background: #ffe4a8;
}





.menu {
    color: white;
    background: #2e333f;
    -moz-user-select: none;
    -webkit-user-select: none;
}


.menu-link {
    color: inherit;
}

.menu-link:hover {
    text-decoration: none;
    color: inherit;
}


.category-item {
    background: #3b414e;
}

.menu-header {

}

.category-item:hover {
}

.category-item-content-wrapper {
    display: none;
    -webkit-box-shadow: inset 0 1px 11px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 1px 11px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 11px 0 rgba(0,0,0,0.75);
}

.menu-item {
}


.menu-item:hover {
    background: rgb(81, 50, 162);
}


.menu-item:active {
    background: rgb(69, 43, 138);
    transition: 0ms;
}

.menu-item:active:after {
    transition: 150ms;
}

.menu-item-active {
    background: rgb(81, 50, 162);
}


.menu-item-content-wrapper {
    display: none;
}


.subcategory {
    font-size: 0.8em;
    color: inherit;
}

.subcategory:hover {
    color: inherit;
}



.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 2px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background: #5435B5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 10px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}