/*font weigh 300, 400, 500, 700, 900*/

/* navbar */

.nav-container-bg {
    background: rgb(84, 53, 181);
}

.nav-item {
    font-size: 0.8em;
    overflow: hidden;
}

.nav-bg {
    background: rgb(84, 53, 181);
    color: snow;
    font-family: "Roboto", serif;
    font-size: 1.3em;
}


.nav-link-1, .nav-link-1:hover {
    text-decoration: none;
    color: #b7b3b3;
}

.active, .active:hover {
    font-weight: 500;
    color: snow;
}

@media all and (min-width: 0px) {
    /* cart dropdown size */
    .cart-dropdown {
        padding: 0;
        margin: 0;
        width: 490%;
    }


    .user-actions-dropdown {
        width: 300%;
    }

}

@media all and (min-width: 376px) {
    /* cart dropdown size */
    .cart-dropdown {
        padding: 0;
        margin: 0;
        width: 600%;
    }

}


@media all and (min-width: 576px) {
    .user-actions-dropdown {
        width: 300%;
    }

    /* cart dropdown size */
    .cart-dropdown {
        width: 360px;
    }
}

@media all and (min-width: 992px) {

}

.search-input {
    font-size: 0.8em;
    border-radius: 0.4em;
    border: 1px transparent;
    background: rgb(71, 46, 150);
    transition: 150ms;
}

.search-input:focus {
    color: white;
    outline: none;
    border: 1px solid snow;
    transition: 150ms;
}

.search-segment {

}



.close-btn:hover {
    cursor: pointer;
}

.user-box-name {
    font-size: 4mm
}

.user-box-email {
    font-size: 3mm;
    white-space: nowrap;
    overflow: hidden;
}


/*
    cart styles
*/


.cart-segment-1 {
    max-height: 350px;
    overflow-y: auto;
}

.cart-item {
    border-bottom: 1px solid #bbbbbb;
}

.cart-item-text {
    font-size: 0.6em;
    font-weight: 500;
}

.cart-item-price {
    font-weight: 300;
    font-size: 0.7em;
}

.to-cart-btn {
    border-radius: 0.3em;
    background: transparent;
    border: 1px solid #d6d6d6;
}

.to-cart-btn:hover {
    border: 0;
    background: #472E96;
    cursor: pointer;
}

.cart-total-price {
    font-weight: 300;
    font-size: 0.8em;
}

.cart-m-unit {
    font-weight: 300;
    font-size: 0.7em;
}




/* categories menu */



.category-item-box {
    background: #2f3340;
}

.c-menu-item-box-active {
    background: rgb(81, 50, 162);
}


.c-subcategories-container-box {
    background: #2f3340;
    border-radius: 0 4px 4px 0;
}

.item-label {
    background: #272c39;
    border-bottom: 1px solid #3d4353;
}

.item-label:hover {
    background: #5132A2;
    -moz-user-select: none;
    -webkit-user-select: none;
}



.category {
    font-weight: 500;
    font-size: 0.9em;
}

.category:hover {
    color: white;
    text-decoration: none;
}

.subcategories {
    color: black;
}

.subcategories-container {
    box-shadow: 0 0 10px 0 #000000;
}




.categories-menu-btn {
    color: snow;
}

.categories-menu-btn:hover {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.notifications-count-icon {
    text-align: center;
    margin: 0 auto;
    width: 25px;
    font-size: 0.5em;
    background: #c50000;
    border-radius: 50px;
}




.item-content {
    display: none;
}

.footer {
    background: #393e4b;
}

.project-label {
    color: #b6b6b6;
}

.categories-list {
    color: black;
}

.categories-list-item {
    border-bottom: 1px solid #d6d6d6;
}

.filters-button {
    background: #ffe4a8;
}





.menu {
    color: white;
    background: #2e333f;
    -moz-user-select: none;
    -webkit-user-select: none;
}


.menu-link {
    color: inherit;
}

.menu-link:hover {
    text-decoration: none;
    color: inherit;
}


.category-item {
    background: #3b414e;
}

.menu-header {

}

.category-item:hover {
}

.category-item-content-wrapper {
    display: none;
    -webkit-box-shadow: inset 0 1px 11px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 1px 11px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 11px 0 rgba(0,0,0,0.75);
}

.menu-item {
}


.menu-item:hover {
    background: rgb(81, 50, 162);
}


.menu-item:active {
    background: rgb(69, 43, 138);
    transition: 0ms;
}

.menu-item:active:after {
    transition: 150ms;
}

.menu-item-active {
    background: rgb(81, 50, 162);
}


.menu-item-content-wrapper {
    display: none;
}


.subcategory {
    font-size: 0.8em;
    color: inherit;
}

.subcategory:hover {
    color: inherit;
}



.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 2px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background: #5435B5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 10px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}