$pageBgColor: #e7e8e9;
$accentColor: #2c526a;
$menuLinksBg: #283a50;

$navBarHeight: 60px;

$navImgSize: 20px;
$dropdownHoverColor: #1c2939;
$dropdownBg: white;
$dropdownTextColor: black;


$dropdownIconPadding: 20px;

$notificationsIconColor: #25394e;

$boxColor: white;


$cartTextColor: black;
$cartDropdownElemColor: white;

$borderColor: #30667f;


