$pageBgColor: #e7e8e9;
$accentColor: #2c526a;

$navImgSize: 20px;
$dropdownHoverColor: #1c2939;
$dropdownBg: white;
$dropdownTextColor: black;


$dropdownIconPadding: 20px;

$notificationsIconColor: #25394e;

$boxColor: white;


$cartTextColor: black;
$cartDropdownElemColor: white;

$borderColor: #d6d6d6;


