@import "vars";

.photo-input {
  text-align: center;
  font-size: 10em;
  color: $accentColor;
  border: 1px solid $accentColor;
  transition: background-color .3s, color .3s;
  border-radius: 6px;


  img {
    max-width: 100%;
  }

  &:hover {
    color: white;
    background: $accentColor;
  }

  span {
    padding: 0;
    margin: 0;
    font-size: 0.2em;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
  }

  input {
    display: none;
  }
}