.seller-products {
  padding: 5px; }

.sku-number {
  font-weight: bold; }

.product {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2c526a; }
  .product img {
    max-width: 92px;
    max-height: 92px; }
    .product img:hover {
      cursor: pointer; }
  .product label {
    width: 100%; }
    .product label input {
      border-radius: 6px;
      border: 1px solid #2c526a;
      padding-left: 5px;
      padding-right: 5px;
      width: 100%; }
      .product label input:focus {
        outline: none; }

.price {
  font-weight: lighter;
  font-size: 1.3em; }

.product-name {
  font-size: 1.3em; }

.create-order-btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 4px;
  margin: 8px;
  color: white;
  padding: 12px;
  font-size: 1.1em;
  background: #2c526a;
  border: 0; }
  .create-order-btn:hover {
    cursor: pointer; }
  .create-order-btn:disabled {
    background: #cacbcc;
    cursor: not-allowed; }

.remove-btn img {
  width: 20px;
  height: 20px; }

.checkbox-container {
  display: block;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  border-radius: 5px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid transparent; }

.checkmark:hover {
  transition: 150ms;
  border: 2px solid #2c526a; }

/* When the checkbox is checked, add a background */
.checkbox-container input:checked ~ .checkmark {
  background: #2c526a; }

/* Create the indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
