.f-form-group {
  position: relative; }
  .f-form-group i {
    position: absolute;
    color: #bfbfbf;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid lightgrey; }
  .f-form-group input {
    width: 100%;
    outline: none;
    border: 1px solid lightgray;
    padding: 6px 15px;
    border-radius: 4px;
    height: 40px;
    padding: 10px 10px 10px 58px;
    background: #ebebeb;
    border: 0; }
    .f-form-group input:focus {
      border-color: #2c526a; }
  .f-form-group label {
    font-size: 1.2em;
    font-weight: lighter; }

.f-form-group-2 {
  margin: 15px 0; }
  .f-form-group-2 label {
    width: 100%;
    font-size: 1.2em;
    padding-left: 15px; }
  .f-form-group-2 input, .f-form-group-2 textarea {
    width: 100%;
    outline: none;
    border: 1px solid lightgray;
    padding: 6px 15px;
    border-radius: 4px; }
    .f-form-group-2 input:focus, .f-form-group-2 textarea:focus {
      border-color: #2c526a; }
  .f-form-group-2 select {
    width: 100%;
    outline: none;
    border: 1px solid lightgray;
    padding: 6px 15px;
    border-radius: 4px;
    width: auto; }
    .f-form-group-2 select:focus {
      border-color: #2c526a; }
