@import "vars";



@mixin baseInput {
  width: 100%;
  outline: none;
  border: 1px solid lightgray;
  padding: 6px 15px;
  border-radius: 4px;

  &:focus {
    border-color: $accentColor;
  }
}

.f-form-group {
  margin: 15px 0;

  label {
    width: 100%;
    font-size: 1.2em;
    padding-left: 15px;
  }

  input {
    @include baseInput;
  }


  select {
    @include baseInput;
    width: auto;

  }


  textarea {
    @include baseInput;
  }
}


.f-submit {
  border: 0;
  padding: 8px 10px;
  background: $accentColor;
  color: white;
  font-size: 1.3em;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
  }
}
