@import "vars";
@import "mixins";



.product-item {
  margin: 10px 0;
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 16px;

  img {
    max-width: 192px;
    height: auto;
  }
}

.info-box {
  @include userSelectNone;
  background: #e4e4e4;
  padding: 15px 0;
  font-size: 1.8em;
  font-weight: bolder;
  label {
    font-size: 0.7em;
    font-weight: normal;
  }
}


.action-btn {
  padding: 10px;
  font-size: 1.3em;

  &:hover {
    cursor: pointer;
  }
}

.on-sale {
  @include userSelectNone;

  position: absolute;
  top: 80px;
  font-size: 0.8em;
  padding: 5px;
  color: white;
  background: #007c00;
  border-radius: 6px;
}
