.product-item {
  margin: 10px 0;
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 16px; }
  .product-item img {
    max-width: 192px;
    height: auto; }

.info-box {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #e4e4e4;
  padding: 15px 0;
  font-size: 1.8em;
  font-weight: bolder; }
  .info-box label {
    font-size: 0.7em;
    font-weight: normal; }

.action-btn {
  padding: 10px;
  font-size: 1.3em; }
  .action-btn:hover {
    cursor: pointer; }

.on-sale {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 80px;
  font-size: 0.8em;
  padding: 5px;
  color: white;
  background: #007c00;
  border-radius: 6px; }
