@import "vars";
@import "mixins";


/* the nav bar background and text color */
.nav-bar-container {
  background: $accentColor;
  color: snow;
}

nav {
  height: $navBarHeight;
}

.menu-btn-container {
  @include userSelectNone;
  height: $navBarHeight;

  &:hover {
    cursor: pointer;
  }
}

.menu-dot {
  width: 6px;
  height: 3px;
  background-color: white;
  margin: 6px 3px 6px 0;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.brand-name {
  font-size: 1.8em;
  font-weight: bold;
}

.subcategories {
  padding: 10px 5px;
  background: white;
  a {
    color: $accentColor;
    &:hover {
      color: $accentColor;
    }
  }
}

.nav-go-to-cart-btn {
  transition: all 300ms;
  color: white;
  background: $accentColor;
  border: 1px solid $borderColor;
  border-radius: 0 0 12px 12px;

  &:hover {
    color: white;
    border: 0;
    cursor: pointer;
  }
}

.nav-cart-total-price {
  background: $cartDropdownElemColor;
  font-weight: bold;
  font-size: 1em;
  color: $cartTextColor;
  border-top: 1px solid $borderColor;
}

/* size for cart */
.nav-cart-box {
  max-height: 350px;
  overflow-y: auto;
}

.empty-cart-message {
  padding: 20px 10px 10px;
  color: $accentColor;
  background: $cartDropdownElemColor;

  img {
    width: 64px;
    height: 64px;
  }
}

.nav-cart-item {
  color: $cartTextColor;
  border-bottom: 1px solid $borderColor;
  background: $cartDropdownElemColor;

  img {
    height: 50px;
    width: 50px;
  }
}

.nav-dropdown {
  @include userSelectNone;
  height: $navBarHeight;
  &:hover {
    background-color: $dropdownHoverColor;
    cursor: pointer;
  }

  img {
    height: $navImgSize;
    width: $navImgSize;
  }
}

/* dropdown menu style */
.nav-dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
  background: $dropdownBg;
  z-index: 99;
  box-shadow: rgb(219, 223, 226) 0 1px 2px 0, rgb(219, 223, 226) 0 1px 3px 1px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease, max-height .5s;

  a {
    text-decoration: none;
    color: $dropdownTextColor;
    font-size: 1.2em;

    &:hover {
      color: white;
      text-decoration: none;
      background: $accentColor;
    }
  }
}

.nav-dropdown:hover + .nav-dropdown-menu, .nav-dropdown-menu:hover {
  transform: scaleY(1);
}



.cart-items-count {
  position: absolute;
  top: 13px;
  left: 20px;
  padding: 2px 4px;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  width: auto;
  font-size: 0.7em;
  background: $notificationsIconColor;
  border-radius: 5px;
}

.cart-dropdown-menu {
  border-radius: 0 0 12px 12px;
}

.user-actions-dropdown {
  border-bottom: 4px solid $accentColor;
  a {
    padding: 6px 6px 6px 20px;
  }
}

.nav-cart-item-text {
  font-size: 1.1em;
  font-weight: 500;
}



.sidebar-wrapper {
  width: 100%;
  max-height: 1000%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.show-sidebar-wrapper {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  @include userSelectNone;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
}




.sidebar-wrapper, .sidebar {
  transition: opacity .15s, margin-left .3s ease-out, margin-top .3s;
}

.menu-title-bar {
  color: $accentColor;
  padding: 10px 10px 0;

  h4 {
    border-left: 3px solid $accentColor;
    padding-left: 10px;
  }
}

.sidebar-item {
  transition: all 0.3s;
  padding: 10px;
  color: $accentColor;
  font-size: 1.3em;
  border-bottom: 1px solid $borderColor;

  a {
    text-decoration: none;
  }

  &:hover {
    background: $accentColor;
    color: white;
  }
}




@media all and (min-width: 0px) {
  /* size for the user actions dropdown menu */
  .user-actions-dropdown {
    width: 250px;
    right: -80px
  }

  /* size of the cart dropdown menu */
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    right: -30px;
  }

  .sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.42);
  }

  .sidebar {
    width: 300px;
    margin-left: -300px;
    height: 100%;
    box-shadow: 3px 0 24px 0 rgba(0,0,0,0.75);
  }

  .show-sidebar {
    margin-left: 0;
  }
}

.sidebar-item-active {
  background: $accentColor;
  color: white;
}

.item-dropdown {
  padding: 10px;
}


.subcategory {
  background: #e3e3e3;
  padding: 10px;
  text-decoration: none;
}

.category {
  font-size: 1.1em;
  padding: 10px;
  border-bottom: 1px solid $borderColor;
  img {
    width: 32px;
    height: 32px;
  }
}

.search-field {
  input {
    border-radius: 10px 0 0 10px;
    padding: 16px;
    height: 26px;
    border: 1px solid $accentColor;
    color: $accentColor;
    &:focus {
      outline: none;
    }
  }
  span {
    padding-top: 5px;
    background: $accentColor;
    color: white;
    border-radius: 0 10px 10px 0;

    img {
      width: 16px;
      height: 16px;
    }
  }

  label {
    font-size: 1.3em;
  }
}


.remove-cart-item-btn {
  @include userSelectNone;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

@media all and (min-width: 300px) {
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    width: 300px;
    right: -30px;
  }
}

@media all and (min-width: 376px) {
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    width: 376px;
  }
}

@media all and (min-width: 576px) {
  .user-actions-dropdown {
    width: 250px;
    right: 0;
  }

  .cart-dropdown-menu {
    width: 360px;
    right: 0;
  }
}

@media all and (max-width: 768px) {

  #sidebar {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;

  }
}

@media all and (min-width: 768px) {
  .sidebar-wrapper {
    position: absolute;
    top: auto;
    bottom: auto;
    background: transparent;
  }

  .sidebar {
    border-radius: 0 0 6px 6px;
    margin-left: 0;
    width: 350px;
    height: auto;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.47);
  }

  .show-sidebar {
    margin-left: 0;
  }
}
