@import "vars";

@mixin userSelectNone {
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* the nav bar background and text color */
.nav-bar-container {
  background: $accentColor;
  color: snow;
}

nav {
  height: $navBarHeight;
}

.menu-button {

}

.nav-dropdown-arrow {
  img {
    transform: rotate(90deg);
  }
}

.category {
  background: #dddedf;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid $borderColor;

  &:hover {
    background: #c1c2c3;
  }
  img {
    width: 32px;
    height: 32px;
  }
}

.category-active {
  background: #c1c2c3;
}


.menu-container {
  pointer-events: auto;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease;
  box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.34);
}

.menu-btn-container {
  height: $navBarHeight;

  &:hover {
    background: $dropdownHoverColor;
  }
}

.show-menu {
  transform: scaleY(1);
}

.menu-dot {
  width: 6px;
  height: 3px;
  background-color: white;
  margin: 6px 3px 6px 0;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.brand-name {
  font-size: 1.8em;
  font-weight: bold;
}


/* menu in the nav bar with categories and other options */
.nav-menu {
  @include userSelectNone;
  background: $accentColor;
}


.menu-links-container {
  background: $menuLinksBg;
}


.t-text {
  background: $accentColor;
  color: white;
}

.menu-item {
  padding: 10px;
  border-bottom: 1px solid $borderColor;

  &:hover {
    background: $dropdownHoverColor;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

.menu-item-active {
  background: $dropdownHoverColor;
}

.subcategories {
  padding: 10px 5px;
  background: white;
  a {
    color: $accentColor;
    &:hover {
      color: $accentColor;
    }
  }
}

.dropdown-content {
  background: #dcddde;
  color: $accentColor;
  display: none;
}

.show-dropdown-content {
  display: flex;
}

.dropdonw-arrow {
  height: 24px;
  width: 24px;
  transition: all 150ms;
}

.dropdonw-arrow-opened {
  transform: rotate(180deg);
}


.nav-go-to-cart-btn {
  transition: all 300ms;
  color: white;
  background: $accentColor;
  border: 1px solid $borderColor;
  border-radius: 0 0 12px 12px;


  &:hover {
    color: white;
    border: 0;
    cursor: pointer;
  }
}

.nav-cart-total-price {
  background: $cartDropdownElemColor;
  font-weight: bold;
  font-size: 1em;
  color: $cartTextColor;
  border-top: 1px solid $borderColor;
}

/* size for cart */
.nav-cart-box {
  max-height: 350px;
  overflow-y: auto;
}

.nav-cart-item {
  color: $cartTextColor;
  border-bottom: 1px solid $borderColor;
  background: $cartDropdownElemColor;

  img {
    height: 50px;
    width: 50px;
  }
}

/* style for measurement units font */
.nav-cart-m-unit {
  font-weight: 300;
  font-size: 0.7em;
}

.nav-dropdown {
  @include userSelectNone;
  height: $navBarHeight;
  &:hover {
    background-color: $dropdownHoverColor;
    cursor: pointer;
  }

  img {
    height: $navImgSize;
    width: $navImgSize;
  }
}

/* dropdown menu style */
.nav-dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
  background: $dropdownBg;
  z-index: 99;
  box-shadow: rgb(219, 223, 226) 0 1px 2px 0, rgb(219, 223, 226) 0 1px 3px 1px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease;

  a {
    text-decoration: none;
    color: $dropdownTextColor;
    font-size: 1.2em;

    &:hover {
      color: white;
      text-decoration: none;
      background: $accentColor;
    }
  }
}

.nav-dropdown:hover + .nav-dropdown-menu, .nav-dropdown-menu:hover {
  transform: scaleY(1);
}



.cart-items-count {
  position: absolute;
  top: 13px;
  left: 20px;
  padding: 2px 4px;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  width: auto;
  font-size: 0.7em;
  background: $notificationsIconColor;
  border-radius: 5px;
}

.cart-dropdown-menu {
  border-radius: 0 0 12px 12px;
}

.user-actions-dropdown {
  border-bottom: 4px solid $accentColor;
  a {
    padding: 6px;
    padding-left: 20px;
  }
}

.nav-cart-item-text {
  font-size: 1.1em;
  font-weight: 500;
}

.cart-item-info {

}

@media all and (min-width: 0px) {
  .menu-container {
    width: 200px;
  }

  /* size for the user actions dropdown menu */
  .user-actions-dropdown {
    width: 250px;
    right: -80px
  }

  /* size of the cart dropdown menu */
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    right: -30px;
  }
}

@media all and (min-width: 300px) {
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    width: 300px;
    right: -30px;
  }

  .menu-container {
    width: 280px;
  }
}

@media all and (min-width: 376px) {
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    width: 376px;
  }

  .menu-container {
    width: 350px;
  }
}

@media all and (min-width: 576px) {
  .user-actions-dropdown {
    width: 250px;
    right: 0;
  }

  .menu-container {
    width: 100%;
  }

  .cart-dropdown-menu {
    width: 360px;
    right: 0;
  }
}



