/* the nav bar background and text color */
.nav-bar-container {
  background: #2c526a;
  color: snow; }

nav {
  height: 60px; }

.menu-btn-container {
  height: 60px; }
  .menu-btn-container:hover {
    cursor: pointer; }

.menu-dot {
  width: 6px;
  height: 3px;
  background-color: white;
  margin: 6px 3px 6px 0; }

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0; }

.brand-name {
  font-size: 1.8em;
  font-weight: bold; }

.subcategories {
  padding: 10px 5px;
  background: white; }
  .subcategories a {
    color: #2c526a; }
    .subcategories a:hover {
      color: #2c526a; }

.nav-go-to-cart-btn {
  transition: all 300ms;
  color: white;
  background: #2c526a;
  border: 1px solid #58bae8;
  border-radius: 0 0 12px 12px; }
  .nav-go-to-cart-btn:hover {
    color: white;
    border: 0;
    cursor: pointer; }

.nav-cart-total-price {
  background: white;
  font-weight: bold;
  font-size: 1em;
  color: black;
  border-top: 1px solid #58bae8; }

/* size for cart */
.nav-cart-box {
  max-height: 350px;
  overflow-y: auto; }

.nav-cart-item {
  color: black;
  border-bottom: 1px solid #58bae8;
  background: white; }
  .nav-cart-item img {
    height: 50px;
    width: 50px; }

.nav-dropdown {
  -moz-user-select: none;
  -webkit-user-select: none;
  height: 60px; }
  .nav-dropdown:hover {
    background-color: #1c2939;
    cursor: pointer; }
  .nav-dropdown img {
    height: 20px;
    width: 20px; }

/* dropdown menu style */
.nav-dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
  background: white;
  z-index: 99;
  box-shadow: #dbdfe2 0 1px 2px 0, #dbdfe2 0 1px 3px 1px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease; }
  .nav-dropdown-menu a {
    text-decoration: none;
    color: black;
    font-size: 1.2em; }
    .nav-dropdown-menu a:hover {
      color: white;
      text-decoration: none;
      background: #2c526a; }

.nav-dropdown:hover + .nav-dropdown-menu, .nav-dropdown-menu:hover {
  transform: scaleY(1); }

.cart-items-count {
  position: absolute;
  top: 13px;
  left: 20px;
  padding: 2px 4px;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  width: auto;
  font-size: 0.7em;
  background: #25394e;
  border-radius: 5px; }

.cart-dropdown-menu {
  border-radius: 0 0 12px 12px; }

.user-actions-dropdown {
  border-bottom: 4px solid #2c526a; }
  .user-actions-dropdown a {
    padding: 6px 6px 6px 20px; }

.nav-cart-item-text {
  font-size: 1.1em;
  font-weight: 500; }

@media all and (min-width: 0px) {
  /* size for the user actions dropdown menu */
  .user-actions-dropdown {
    width: 250px;
    right: -80px; }

  /* size of the cart dropdown menu */
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    right: -30px; } }
@media all and (min-width: 300px) {
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    width: 300px;
    right: -30px; } }
@media all and (min-width: 376px) {
  .cart-dropdown-menu {
    padding: 0;
    margin: 0;
    width: 376px; } }
@media all and (min-width: 576px) {
  .user-actions-dropdown {
    width: 250px;
    right: 0; }

  .cart-dropdown-menu {
    width: 360px;
    right: 0; } }
.sidebar-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
  opacity: 0;
  z-index: 999;
  pointer-events: none; }

.show-sidebar-wrapper {
  opacity: 1;
  pointer-events: auto; }

.sidebar {
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  margin-left: -300px;
  height: 100%;
  background: white;
  box-shadow: 3px 0 24px 0 rgba(0, 0, 0, 0.75); }

.show-sidebar {
  margin-left: 0; }

.sidebar-wrapper, .sidebar {
  transition: opacity .15s, margin-left .3s ease-out; }

.menu-title-bar {
  color: #2c526a;
  padding: 10px; }
  .menu-title-bar h4 {
    border-left: 3px solid #2c526a;
    padding-left: 10px; }

.sidebar-item {
  transition: all 0.3s;
  padding: 10px;
  color: #2c526a;
  font-size: 1.3em;
  border-bottom: 1px solid #58bae8; }
  .sidebar-item a {
    text-decoration: none; }
  .sidebar-item:hover {
    background: #2c526a;
    color: white; }

.sidebar-item-active {
  background: #2c526a;
  color: white; }

.item-dropdown {
  padding: 10px; }

.subcategory {
  background: #e3e3e3;
  padding: 10px;
  text-decoration: none; }

.category {
  font-size: 1.1em;
  padding: 10px;
  border-bottom: 1px solid #58bae8; }
  .category img {
    width: 32px;
    height: 32px; }

.search-field input {
  border-radius: 10px 0 0 10px;
  padding: 16px;
  height: 26px;
  border: 1px solid #2c526a;
  color: #2c526a; }
  .search-field input:focus {
    outline: none; }
.search-field span {
  padding-top: 5px;
  background: #2c526a;
  color: white;
  border-radius: 0 10px 10px 0; }
  .search-field span img {
    width: 16px;
    height: 16px; }
.search-field label {
  font-size: 1.3em; }
