.address-container {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  font-size: 0.8em; }

.selected-address {
  border: 0 transparent;
  background: rgba(112, 255, 137, 0.34); }

.address-card {
  border-radius: 15px;
  padding: 18px; }
  .address-card .card-body {
    border-radius: 15px;
    border: 1px solid #2c526a;
    padding: 10px 15px; }
  .address-card.selected .card-body {
    background: #2c526a;
    color: white; }

.select-address-btn .wrapper {
  transition: all 0.2s;
  color: black; }
.select-address-btn label {
  padding: 5px;
  border: 1px solid #2c526a;
  border-radius: 6px;
  text-align: center;
  display: block;
  width: 100%; }
.select-address-btn input {
  opacity: 0;
  position: absolute; }
  .select-address-btn input:checked ~ .wrapper {
    background: #2c526a;
    color: white; }

.add-address-btn:hover {
  background: #eeeeee; }
