.filters-segment {
  margin-top: 15px;
  border-right: 1px solid lightgray; }

.filter-group {
  transition: visibility .5s, font-size .15s, margin .15s, padding .15s, opacity .5s; }
  .filter-group .filter-header {
    font-weight: bold;
    font-size: 1.1em; }
  .filter-group .filter-item {
    padding: 4px 0 4px 10px; }

.hide-filters .filter-group {
  transition: opacity .15s, visibility .15s, font-size 0.5s, margin .5s, padding 0.5s, height 0.25s; }

.filters-btn {
  padding: 6px 14px;
  border: 0;
  background: #ffdeac;
  color: #6a6a6a;
  font-weight: bold;
  font-size: 1.2em;
  margin: 8px 0 0 0; }

.pagination {
  margin-top: 15px;
  margin-bottom: 15px; }
  .pagination a {
    color: #2c526a;
    width: 40px;
    font-size: 1.4em;
    padding: 3px;
    text-align: center;
    border: 1px solid lightgray; }

@media all and (max-width: 768px) {
  .hide-filters .filter-group {
    padding: 0;
    opacity: 0;
    font-size: 0;
    margin: -20px;
    visibility: hidden; } }
