.sku-number {
  font-weight: lighter;
  font-size: 1.2em; }

.product-img img {
  max-width: 100%;
  height: auto; }

.segment {
  margin: 4px;
  margin: 10px 0;
  padding: 12px 8px 12px 15px;
  font-weight: bold;
  font-size: 1.3em;
  border-left: 3px solid #2c526a;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray; }

.quantity-input {
  height: 48px;
  max-width: 125px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  outline: none;
  border-radius: 5px 0 0 5px;
  border: 1px solid #2c526a;
  border-right: 0; }

.to-cart-btn {
  transition: color .1s, background-color .3s;
  height: 48px;
  width: 56px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid green;
  line-height: 48px;
  color: green;
  border-radius: 0 5px 5px 0; }
  .to-cart-btn:hover {
    background: green;
    color: white;
    cursor: pointer; }
